@using TatilSitesi.Models.Siniflar
@model List<Blog>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (Blog blog in Model)
    {
        <tr>
            <td>@blog.ID</td>
            <td>@blog.Baslik</td>
            <td><a href="/Admin/BlogSil/@blog.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/BlogGetir/@blog.ID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="#" class="btn btn-success">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Admin/YeniBlog/" class="btn btn-primary">Yeni Blog</a>